using System;

public class Program;
{
    public static void Main()
    {
         int i;
            int resultado;
            Console.WriteLine("insira o valor");
            int tabuada = Int32.Parse((Console.ReadLine()));

            for (i = 0; i <= 10; i++){
            {
                resultado = tabuada * i;
                Console.WriteLine(resultado);
              
            }
            Console.ReadKey();
            
     }
}
